.documentsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.documentContainer {
  background-color: white;
  padding: 10px;
  border: 0.1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  width: calc(25% - 15px);
  min-height: 200px;
}

.documentContainer:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.documentContainer:focus {
  box-shadow: 0 0 0 2px #1890ff;
}

.documentDateContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgba(102, 102, 102, 0.5);
  font-size: 12px;
}

.documentPreviewContainer {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.documentName {
  font-size: 14px;
  color: #333;
}

.pdfIcon {
  font-size: 64px;
  color: #ff4d4f;
}
