.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.emptyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
