.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100vh - 70px);
  padding: 0 20px 20px 20px;
}

.pageHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 10px;
}

.pageTitle {
  font-size: 24px;
  font-weight: 600;
}

.cardsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(33.33% - 20px);
  min-height: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.statusContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pictureContainer {
  width: 100%;
  min-height: 125px;
  margin-top: 10px;
  overflow: hidden;
}

.picture {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: .6px solid #000000;
}

.informationsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.informations {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.text {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
