@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Jost', serif;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input, .submitButton {
  border-radius: 20px;
  width: 100%;
}
