.layoutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.settingsContainer {
  width: 98%;
  max-width: 800px;
  padding: 15px;
  border: 0.2px solid rgba(37, 37, 37, 0.3);
  border-radius: 10px;
}

.settingsItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 0.2px solid #252525;
}
